{% extends 'LayoutBundle::layout.html.twig' %}

{% block container%}
    <h1>Zamówienia</h1>
    <h3>Nowe</h3>
    {{ include('InfoDeliveryBundle:OrderEntry:orders.inc.html.twig', {'entities':new}) }}

    <ul>
        <li>
            <a href="{{ path('order_new') }}">
                Dodaj nowe
            </a>
        </li>
    </ul>

    <br/>
    <h3>W realizacji</h3>
    {{ include('InfoDeliveryBundle:OrderEntry:orders.inc.html.twig', {'entities':inProgress}) }}

    <br/>
    <h3>Zamknięte</h3>
    {{ include('InfoDeliveryBundle:OrderEntry:orders.inc.html.twig', {'entities':closed}) }}


    {% endblock %}
