{% extends 'LayoutBundle::layout.html.twig' %}

{% block container%}
    <h1>Nowe zamówienie</h1>

    <form action="{{ path('order_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Zapisz</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('order') }}">
            Wróć do listy
        </a>
    </li>
</ul>
{% endblock %}
